@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af77;
}